@import url('https://fonts.googleapis.com/css?family=Rubik');
*{
    font-family: 'Rubik', sans-serif;
}
  a {
    color: black;
    font-family: 'Roboto Light";
}

.botones {
    width: 4%;
}

.bloque {
    margin-top: 100px;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
}

.texto {
    font-family: 'Roboto Mono';
    color: #000000;
}

.textotitle {
    font-family: 'Anton', sans-serif;
    color: #000000;
}

.backgroundparalax {
    background: no-repeat;
    background-size: cover;
    height: 50%;
    background-image: url("mibostrap/imagenes/background.png");
}
.backgroundparalax-2 {
    background: no-repeat;
    background-size: cover;
    height: 70%;
    background-image: url("mibostrap/imagenes/backgroud-2.jpg");
}
.noticias {
    height: 150px;
    border-radius: 10px;

}

.titulos {
    font-family: 'Roboto Black'
}

.cardnoticias {
    margin-top: 75px;
}

body {
    background: transparent;
}

.paises {
    height: 23.99px;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

