@import url('https://fonts.googleapis.com/css?family=Anton|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab');
a{
    color: black ; font-family:'Roboto Light";
}
.botones{
    width:4%;
}
.bloque{
        margin-top: 100px;
}
html{
    font-family: 'Roboto Condensed', sans-serif;
}
.cardsimg{
    height:180px;
}
.texto{
    font-family: 'Roboto Mono';
    color: #000000;
}
.textotitle{
    font-family: 'Anton', sans-serif;
    color: #000000;
}
.backgroundparalax{
background: no-repeat;
background-size: cover;
    background-image: url("mibostrap/imagenes/mundial.jpg");
}
.noticias{
 
    height: 115px;
    border-radius: 8px;
}
.titulos{
    font-family: 'Roboto Black';
    font-size: 18px;

}
.cardnoticias{
    margin-top: 75px;
}
body{
    background: transparent;
}
.paises{
    height: 23.99px;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}